{% extends "layout.html" %}

{% block title %}2020 Odds{% endblock %}

{% block main %}
    <h1>2020 Presidential Election Odds</h1>
    <p>They say the people best at predicting the future are bookmakers, because they have money at stake.
    This webapp tracks bookmaker projections for the upcoming US Presidential Election</p>
    <br>
    <table class="table table-hover">
        <caption>Updated: {{ updateDate }}</caption>
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Name</th>
                <th scope="col">2020 Election Odds</th>
            </tr>
        </thead>
        <tbody>
            {% for candidate in oddsInfo %}
                <tr>
                    <th scope="row"><img class="portrait" src={{  candidate[0]  }}></th>
                    <td>{{  candidate[1]  }}</td>
                    <td>{{ candidate[2] }}</td>
                </tr>
            {%  endfor  %}
        </tbody>
    </table>
{% endblock %}
